@import url('https://fonts..com/css2?family=poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  body {
      text-align: center;
      margin: 0px auto;
      background:url(/static/bg3.png/1);
      max-width: 1024px;
  }
  * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

.container {
    text-align: center;
}
#header {
    background-color: #F6F6EC;
    background-size: cover;
    border: 1px solid #c8ccc0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: 4px auto;
    max-width: 1024px;
    padding: 5px;
}
 .box1 {    
    background: #E8ECE0;
    border: 1px solid #E8ECE0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: left;
    max-width: 1024px;
    margin: 4px auto;
    font-size: 11pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
tr:first-child td, tr:first-child th {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
tr:last-child td {
    border: 1px solid #E8ECE0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-weight: bold;
    padding: 5px;
}
td.up {
    background-color: #F6F6EC;
}
td.lounge {
    background-color: #F6F6EC;
    font-size: small;
}

.box2 {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
        margin: auto;
      background-color: #E8ECE0;
      max-width: 1034px;
      border: 1px solid #F6F6EC;
      padding-top: 5px;
    padding-bottom: 5px;

}


td.featured {
    background-color: #F6F6EC;
}
table {
border-spacing: 0;
border: 0;
margin: 0px;
width: 100%;
}



td#feature {
    background-color: #E8ECE0;
    padding: 5px;
    margin: 0px;
}
td.intro, .article {
    background-color: #F6F6EC;
    padding: 10px;
    margin: 0px;
}

h1 {
    margin: 5px;
    text-decoration: underline;
}
h2 {
    color: #220000;
    font-size: 15px;
    margin: 0px auto;
    max-width: 1024px;
    padding: 6px;
    text-align: center;
}  
a {
    color: #181874;
    text-decoration: none;
font-weight: bold;}
a:hover {
    text-decoration: underline;
}
 span {
    color:#401848;
}
 p img {
    border: 1px solid #c6ccbe;
    border-radius: 10px;
    padding: 0px;
    margin: 6px;
    width: 318px;
    height: 106px;
}

input[type=text], input[type=submit], textarea {
    border: 1px solid #c8ccc0;
    border-radius: 12px;
    background: #fff;
    padding: 4px 8px;

}
button, input, textarea {
    color: #000;
}
select, input[type=file], input[type=submit], input[type=checkbox] {
    cursor: pointer;
}
input[type=submit]:hover {
    background: #e8ece0;
}












